argparse==1.2.1
behave==1.2.2
docopt==0.5.0
Flask==0.9
Flask-Restless==0.9.1
Flask-SQLAlchemy==0.16
ipdb==0.7
ipython==0.13.1
Jinja2==2.6
nose==1.2.1
parse==1.6.1
python-dateutil==1.5
requests==1.1.0
SQLAlchemy==0.8.0b2
Werkzeug==0.8.3
wsgiref==0.1.2
